@font-face {
    font-family: "Mark Pro";

    src: url('./assets/fonts/mark-pro/MarkPro.eot');
    src: url('./assets/fonts/mark-pro/MarkPro.eot') format('embedded-opentype'),
        url('./assets/fonts/mark-pro/MarkPro.woff2') format('woff2'),
        url('./assets/fonts/mark-pro/MarkPro.woff') format('woff'),
        url('./assets/fonts/mark-pro/MarkPro.ttf') format('truetype');
}

@font-face {
    font-family: 'mark_proregular';
    src: url('mark_pro-webfont.woff2') format('woff2'),
         url('mark_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.button-img{
    width: 49px !important;
height: 49px !important;
flex-shrink: 0;
}

.logo-text {
    color: #FFF;
    font-family: "mark_probold";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    filter: drop-shadow(0px 3px 2px #04040459);
}

.com {
    font-family: "mark_proregular";
}

.scroll-icon {
    width: 31px;
    height: 42px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1550px;
    }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    left: 10%;
    width: 100%;
}

.mySwiper img {
    aspect-ratio: 6/9;
}

.mySwiper .swiper-slide {
    cursor: pointer;
}

.mySwiper .swiper-slide:hover > .slide-overlay {
    opacity: 1;
}

.mySwiper .swiper-slide:hover > .slide-overlay .slider-text2 {
    animation-name: text-slide;
    animation-duration: .7s;
}

.slide-overlay {
    opacity: 0;
    transition: all .3s;
}

.slider-text2 {
    margin-left: 0;
}

@keyframes text-slide {
    0% {
        margin-left: -200px;
    }
    100% {
        margin-left: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.mdl-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mdl-content {
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mdl-bg .left, .mdl-bg .right {
    height: 70vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mdl-logo {
    position: absolute;
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.mdl-img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
}

.mdl-bg .slider-text2 {
    color: #004291;
}

.mdl-bg .slider-span {
    color: #E30613;
}

.mdl-bg .share {
    position: absolute;
    bottom: -25px;
    background-color: #E30613;
    border-radius: 20px;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "mark_proregular";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    color: #fff;
}

.share span {
    margin-right: 50px;
}

.share svg {
    width: 22px;
    height: 22px;
    margin-left: 15px;
    transition: all;
}

.share svg:hover {
    opacity: 0.7;
}

.mdl-bg .close {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E30613;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: all .3s;
}

.mdl-bg .close:hover {
    opacity: 0.7;
}


@media screen and (max-width:1001px) {
    .section2 {
        margin-top: 50px !important;
    }

    .footer-logo {
        margin-top: 50px !important;
    }

    .footer-logo .main-img {
        width: 50px;
    }

    .footer-logo .text-img {
        width: 90px;
    }

    .mobile-logo img {
        margin-top: 10px;
    }

    .slide-overlay {
        opacity: 1;
    }

    .slider-text2, .slider-span {
        font-size: 24px;
        line-height: normal;
    }

    .linkButton {
        width: 40px;
    }

    .mdl-logo {
        display: none;
    }

    .mdl-content {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .mdl-bg .left {
        width: 100%;
        height: 40vh;
        border-radius: 0;
    }

    .mdl-bg .left img {
        height: 40vh;
        border-radius: 0;
    }
    
    .mdl-bg .right {
        width: 100%;
        position: unset;
        text-align: center;
    }

    .mdl-text, .mdl-bg .slider-text2, .mdl-bg .slider-span {
        text-align: center !important;
    }

    .mdl-bg .share {
        position: absolute;
        bottom: -25px;
        background-color: #E30613;
        border-radius: 20px;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "mark_proregular";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        color: #fff;
    }

    .share span {
        margin-right: 40px;
    }

    .share svg {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        transition: all;
    }

    .mdl-bg .close {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E30613;
        border-radius: 100%;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        transition: all .3s;
    }
}
 .mobile-logo {
            text-align: center;
        }

        .linkButton {
            width: 50px;
            height: 50px;
            display: block;
            margin-top: 25px;
        }

        .mobile-logo img {
            width: 66.213px;
            height: 67.664px;
        }

        @media screen and (max-width:1001px) {
            .slider-text {
                font-size: 50px;
                line-height: 50px;
                text-align: center;
            }
        }

        .slider-text2 {
            color: #FFF;
            font-family: "IstanbulBasardi";
            font-size: 41px;
            font-style: normal;
            font-weight: 500;
            line-height: 41px;
            text-transform: uppercase;
            text-align: left;
        }

        .slider-span {
            color: #F6EB16;
            font-family: "IstanbulBasardi";
            font-size: 41px;
            font-style: normal;
            font-weight: 500;
            line-height: 41px;
            text-transform: uppercase;
        }
      